@import url('https://fonts.googleapis.com/css?family=Pompiere&display=swap');

html,
body {
    width: 100%;
    margin: 0;
    background-color: #FFD465;
    font-family: 'Pompiere', cursive;

}

#container {
    width: 100%;
    height: 100%;
    background-color: #FFD465;
    font-family: 'Pompiere', cursive;
}

#box_div {
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.37));
}

#banner_pink {
    background-color: #FF9999;
}


/* Phone Portrait */
@media screen and (min-width: 0) {

    /* Logo */
    #logo_div {
        position: absolute;
        width: 16em;
        height: 10em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 2em;
        /* background-color: brown; */
    }

    #title_icon {
        position: absolute;
        width: 5em;
        height: auto;
        top: 2.2em;
        cursor: pointer;
    }

    #title_logo {
        width: 10em;
        height: auto;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.37));
        float: right;
        cursor: pointer;
    }

    /* Banner */
    #banner_div {
        margin-top: 3em;
    }

    .banner {
        width: 100%;
        height: 50px;
        background-color: #65EAA2;
    }

    /* What is Icopico? */
    .section_title {
        font-size: 30px;
        color: white;
        text-align: center;
        background-color: #FF9999;
        padding: .5em;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.45));
    }

    #game_description {
        width: 80%;
        height: 180px;
        color: white;
        background-color: rgb(85, 148, 85);
        margin: 0 auto;
        padding: 1em;
        border-radius: 10px;
        font-size: 1.5em;
    }

    /* How to Play */
    #game_how_to {
        display: grid;
        grid-template-rows: 300px 300px 300px 300px;
        grid-row-gap: 20px;
        height: auto;
    }

    .how_to_section {
        display: grid;
        grid-template-rows: 70% 30%;
        width: 90%;
        margin: 0 auto;
        font-size: 1.5em;
    }

    .game_image {
        width: auto;
        height: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #image0 {
        width: 80%;
        height: auto;
    }

    /* Team Section */
    #team_section {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    /* Team img and name */
    .mem_section {
        display: grid;
        grid-template-rows: 50% 50%;
        border-bottom: 3px solid #65EAA2;
        box-shadow: 5px 5px #88888828;
        grid-gap: 1em;
    }

    .mem_img {
        width: 15em;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.45));

    }

    .mem_section h2 {
        text-align: center;
        color: black;
        margin: 1em;
        text-shadow: 2px 2px rgba(145, 145, 145, 0.623);
    }

    .mem_desc {
        height: 60%;
        padding: 1em;
        margin: 1em;
        background-color: white;
        border-radius: 25px;
        font-size: 1.2em;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.45));

    }

    #backButton {
        font-family: 'Pompiere', cursive;
        color: white;
        font-size: 2em;
        padding: .5em 1em .5em 1em;
        margin: 1.5em;
        border-radius: 10px;
        background-color: #FF9999;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.45));
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}


/* Tablet View */
@media screen and (min-width: 500px) {

    /* Logo */
    #logo_div {
        position: absolute;
        width: 21em;
        height: 10em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 2em;
        /* background-color: brown; */
    }

    #title_icon {
        position: absolute;
        width: 7em;
        height: auto;
        top: 2.5em;
    }

    #title_logo {
        width: 12em;
        height: auto;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.37));
        float: right
    }

    /* Banner */
    #banner_div {
        margin-top: 3em;
    }

    .banner {
        width: 100%;
        height: 65px;
        background-color: #65EAA2;
    }

    /* Game Description */
    #game_description {
        height: auto;
        font-size: 1.8em;
        padding: 1em;
    }

    /* How to Play*/
    #game_how_to {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: .5em;
    }

    .how_to_section {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

    .game_image {
        width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.37));

    }

    #image0 {
        width: 90%;
        height: auto;
    }

    .game_instruction {
        font-size: 1.5em;
        padding: 1em;
    }

    /* Team Description */
    #team_section {
        display: grid;
        height: auto;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .mem_img {
        width: 80%;
    }

    .mem_section {
        grid-template-rows: 50% 40%;
        grid-gap: 3em;
    }

    .mem_desc {
        font-size: 1.1em;
        padding: 1.5em;
        width: 70%;
        height: 70%;
        margin: 0 auto;
        margin-bottom: 2em;
        max-height: 200px;
    }


}

/* Desktop View */
@media screen and (min-width: 1070px) {
    #game_how_to {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .how_to_section {
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        grid-row-gap: 3em;
        font-size: 1em;

    }

    .game_image {
        width: 80%
    }

    #image0 {
        width: 100%;
    }

    #image3 {
        height: 50%;
        width: auto;
    }

    /* Team Description */
    #team_section {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;

    }

    .mem_section {
        grid-template-rows: 50% 50%;
    }

    .mem_desc {
        padding: 1.5em;
        width: 70%;
        height: 50%;
        margin: 0 auto;
        margin-bottom: 2em;
        font-size: 1.2em;

    }
}