html,
body {
    height: 100%;
    margin: 0;
    background-color: #FFD465;
}

#green_div {
    background-color: #65EAA2;
}

#pink_div {
    background-color: #FF9999;
}

/* Game */
#wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    float: left;
}

canvas {
    box-shadow: 1px 2px 8px #888888;
}



/* Phone Portrait */
@media screen and (max-width: 376px) {
    #page_banner {
        width: 100%;
        padding: 0em;
        box-shadow: 1px 2px 8px #888888;
        float: left;
    }

    .colour_div {
        width: 100%;
        height: 4em;
    }

    /* Icons */
    #logo_div {
        position: absolute;
        margin: auto;
        width: 10em;
        left: 0em;
        right: 0em;
        top: 1.2em;
    }

    #logo_icon {
        width: 30%;
        height: auto;
        cursor: pointer;
    }

    #logo_name {
        width: 45%;
        height: auto;
        cursor: pointer;
        padding-left: 1em;
    }
    /* Game */
    #wrapper {
        width: 100%;
        height: 70%;
        margin: 0;
        margin-top: 1em;
    }
}


/* Tablet View */
@media screen and (min-width: 380px) {

    /* Banner */
    #page_banner {
        width: 100%;
        padding: 0em;
        box-shadow: 1px 2px 8px #888888;
        float: left;
    }

    .colour_div {
        width: 100%;
        height: 3em;
    }

    /* Icon */
    #logo_div {
        position: absolute;
        margin: auto;
        width: 10em;
        left: 0em;
        right: 0em;
        top: .5em;
    }

    /* Icons */
    #logo_icon {
        width: 30%;
        height: auto;
        cursor: pointer;
    }

    #logo_name {
        width: 45%;
        height: auto;
        cursor: pointer;
        padding-left: 1em;
    }

    /* Game */
    #wrapper {
        float: none;
        width: 100%;
        height: 68%;
        padding-top: 7em;
        margin: 0 auto;
    }

    canvas {
        margin-top: 5em;
    }

}

/* Desktop View */
@media screen and (min-width: 740px) {

    /* Banner */
    #page_banner {
        width: 100%;
        padding: 0em;
        box-shadow: 1px 2px 8px #888888;
    }

    .colour_div {
        width: 100%;
        height: 3em;
    }

    /* Icons */
    #logo_div {
        position: absolute;
        margin: auto;
        width: 10em;
        left: 0em;
        right: 0em;
        top: .5em;
    }

    #logo_icon {
        width: 30%;
        height: auto;
        cursor: pointer;
    }

    #logo_name {
        width: 45%;
        height: auto;
        cursor: pointer;
        padding-left: 1em;
    }

    /* Game */
    #wrapper {
        float: none;
        width: fit-content;
        height: 78%;
        margin: 0 auto;
    }

    canvas {
        margin-top: 5em;
    }

}

/* iPhone X Landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    /* Tablet grid */
    body {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    /* Banner */
    #page_banner {
        width: 100%;
        padding: 0em;
        box-shadow: 1px 2px 8px #888888;
        float: left;
    }

    .colour_div {
        width: 100%;
        height: 3em;
    }

    /* Icons */
    #logo_div {
        position: absolute;
        margin: 0;
        width: 9em;
        left: 1em;
        top: 1em;
    }

    #logo_icon {
        width: 30%;
        height: auto;
        cursor: pointer;
    }

    #logo_name {
        width: 45%;
        height: auto;
        cursor: pointer;
        padding-left: 1em;
    }

    /* Game */
    #wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: right;
    }

    canvas {
        margin-top: 0;
    }
}

/* iPhone 6 Landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    body {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    /* Banner */
    #page_banner {
        width: 100%;
        padding: 0em;
        box-shadow: 1px 2px 8px #888888;
        float: left;
    }

    .colour_div {
        width: 100%;
        height: 3em;
    }

    /* Icons */
    #logo_div {
        position: absolute;
        margin: 0;
        width: 9em;
        left: 1em;
        top: 1em;
    }

    #logo_icon {
        width: 30%;
        height: auto;
        cursor: pointer;
    }

    #logo_name {
        width: 45%;
        height: auto;
        cursor: pointer;
        padding-left: 1em;
    }

    /* Game */
    #wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: right;
    }

    canvas {
        margin-top: 0;
    }
}

/* Galaxy 6 landscape*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
     body {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    /* Banner */
    #page_banner {
        width: 100%;
        padding: 0em;
        box-shadow: 1px 2px 8px #888888;
        float: left;
    }

    .colour_div {
        width: 100%;
        height: 3em;
    }

    /* Icons */
    #logo_div {
        position: absolute;
        margin: 0;
        width: 9em;
        left: 1em;
        top: 1em;
    }

    #logo_icon {
        width: 30%;
        height: auto;
        cursor: pointer;
    }

    #logo_name {
        width: 45%;
        height: auto;
        cursor: pointer;
        padding-left: 1em;
    }

    /* Game */
    #wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: right;
    }

    canvas {
        margin-top: 0;
    }
}

/* Pixel Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    body {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    /* Banner */
    #page_banner {
        width: 100%;
        padding: 0em;
        box-shadow: 1px 2px 8px #888888;
        float: left;
    }

    .colour_div {
        width: 100%;
        height: 3em;
    }

    /* Icons */
    #logo_div {
        position: absolute;
        margin: 0;
        width: 9em;
        left: 1em;
        top: 1em;
    }

    #logo_icon {
        width: 30%;
        height: auto;
        cursor: pointer;
    }

    #logo_name {
        width: 45%;
        height: auto;
        cursor: pointer;
        padding-left: 1em;
    }

    /* Game */
    #wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        float: right;
    }

    canvas {
        margin-top: 0;
    }
}