html, body {
    height: 100%;
    margin: 0;
}

/* Landing Page */

#container{
    height: 100%;
    width: 100%;
    background-color: #FFD465;
}

#wrapper {
     /* min-height: 100%;   */
    background-color: white;
}

#box_outside{
    width: auto;
    height: 100%;
    padding-top:7%;
    padding-bottom:7%;
    background-color: #FFD465;
}

#box_top {
    background-color: #FFD465;
    width: 100%;
    height: 30%;
}

#banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 90%;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.37);
}

#banner_top {
    grid-row: 1;
    background-color: #65EAA2;
    width: 100%;
}

#banner_middle {
    grid-row: 2;
    background-color: #FF9999;
    width: 100%;
    height: auto;
}

#banner_bottom {
    grid-row: 3;
    background-color: #65EAA2;
    width: 100%;
    height: auto;
}

#title_logo{
    position: absolute;
    width: 55%;
    height: auto;
    margin-top: -5%;
    margin-left: 27%;
    filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.37));
}

#shiny_boi{
    position: absolute;
    width: 70%;
    height: auto;
    margin-top: 5%;
    margin-left: 15%;
    filter: drop-shadow(10px 10px 15px rgba(0,0,0,0.37));
}

#box_bot {
    display: grid;
    margin-top: 50%;
    padding-top: 5%;
    width: 100%;
    height: 20%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20%; 
    background-color: #FFD465;
}

#play_button {
    grid-column: 2;
    grid-row: 1;
    font-size: 300%;
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: 'Pompiere', cursive;
    width: 100%;
    height: auto;
    border-radius: 8%;
    background-color: #FF9999;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.37);
}

#about_button {
    grid-column: 2;
    grid-row: 2;
    font-size: 300%;
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: 'Pompiere', cursive;
    line-height: 90px;
    width: 100%;
    height: auto;
    border-radius: 8%;
    background-color: #FF9999;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.37);
}

/*
CSS Media query layout for mobile
*/ 
@media only screen and (min-width: 320px) {

    #box_outside{
        width: auto;
        height: 100%;
        padding-top:7%;
        padding-bottom:7%;
    }
    
    #box_top {
        width: 100%;
        height: 30%;
    }
    
    #banner {
        width: 100%;
        height: 90%;
    }
    
    #banner_top {
        width: 100%;
    }
    
    #banner_middle {
        width: 100%;
        height: auto;
    }
    
    #banner_bottom {
        width: 100%;
        height: auto;
    }
    
    #title_logo{
        width: 55%;
        height: auto;
        margin-top: -5%;
        margin-left: 27%;
    }
    
    #shiny_boi{
        width: 70%;
        height: auto;
        margin-top: 5%;
        margin-left: 15%;
    }
    
    #box_bot {
        margin-top: 50%;
        padding-top: 5%;
        width: 100%;
        height: 20%;
        grid-row-gap: 20%; 
    }
    
    #play_button {
        font-size: 300%;
        font-size: 80px;
        width: 100%;
        height: auto;
    }
    
    #about_button {
        font-size: 300%;
        font-size: 80px;
        line-height: 90px;
        width: 100%;
        height: auto;
    }
}

/*
CSS Media query layout for tablets
*/
@media only screen and (min-width: 760px) {
    #box_outside{
        width: auto;
        height: 100%;
        padding-top:7%;
        padding-bottom:7%;
    }
    
    #box_top {
        width: 100%;
        height: 20%;
    }
    
    /* #banner {
        width: 100%;
        height: 90%;
    }
    
    #banner_top {
        width: 100%;
    }
    
    #banner_middle {
        width: 100%;
        height: auto;
    }
    
    #banner_bottom {
        width: 100%;
        height: auto;
    } */
    
    #title_logo{
        width: 32%;
        height: auto;
        margin-top: -5%;
        margin-left: 37%;
    }
    
    #shiny_boi{
        width: 67%;
        height: auto;
        margin-top: 16%;
        margin-left: 16%;
    }
    
    #box_bot {
        margin-top: 50%;
        margin-left: 4%;
        padding-top: 5%;
        width: 100%;
        height: 20%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20%; 
        grid-column-gap: 5%;
    }
    
    #play_button {
        grid-column: 1;
        grid-row: 2;
        font-size: 300%;
        font-size: 80px;
        width: 80%;
        height: auto;
    }
    
    #about_button {
        grid-column: 2;
        grid-row: 2;
        font-size: 300%;
        font-size: 80px;
        line-height: 90px;
        width: 80%;
        height: auto;
    }
}

/*
CSS Media query layout for laptops
*/ 
@media only screen and (min-width: 1020px) {
    #box_outside{
        width: auto;
        height: 100%;
        padding-top:7%;
        padding-bottom:7%;
    }
    
    #box_top {
        width: 100%;
        height: 20%;
    }
    
    #banner {
        width: 100%;
        height: 90%;
    }
    
    /* #banner_top {
        width: 100%;
    }
    
    #banner_middle {
        width: 100%;
        height: auto;
    }
    
    #banner_bottom {
        width: 100%;
        height: auto;
    } */
    
    #title_logo{
        width: 23%;
        height: auto;
        margin-top: -5%;
        margin-left: 42%;
    }
    
    #shiny_boi{
        width: 42%;
        height: auto;
        margin-top: 10%;
        margin-left: 5%;
    }
    
    #box_bot {
        margin-top: 3%;
        padding-top: 6%;
        width: 55%;
        margin-left: 44%; 
        height: 12%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20%; 

    }
    
    #play_button {
        grid-column: 2;
        grid-row: 1;
        font-size: 300%;
        text-align: center;
        color: white;
        font-size: 80px;
        font-family: 'Pompiere', cursive;
        width: 100%;
        height: auto;
        border-radius: 8%;
        background-color: #FF9999;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.37);
    }

    #about_button {
        grid-column: 2;
        grid-row: 2;
        font-size: 300%;
        text-align: center;
        color: white;
        font-size: 80px;
        font-family: 'Pompiere', cursive;
        line-height: 90px;
        width: 100%;
        height: auto;
        border-radius: 8%;
        background-color: #FF9999;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.37);
    }
}

/*
CSS Media query layout for desktop
*/ 
@media only screen and (min-width: 1280px) {
    #box_outside{
        width: auto;
        height: 100%;
        padding-top:5%;
        padding-bottom:7%;
    }
    
    #box_top {
        width: 100%;
        height: 20%;
    }
    
    #banner {
        width: 100%;
        height: 90%;
    }
    
    /* #banner_top {
        width: 100%;
    }
    
    #banner_middle {
        width: 100%;
        height: auto;
    }
    
    #banner_bottom {
        width: 100%;
        height: auto;
    } */
    
    #title_logo{
        width: 15%;
        height: auto;
        margin-top: -4%;
        margin-left: 42%;
    }
    
    #shiny_boi{
        width: 38%;
        height: auto;
        margin-top: 7%;
        margin-left: 7%;
    }
    
    #box_bot {
        margin-top: 5%;
        padding-top: 4%;
        width: 55%;
        margin-left: 42%; 
        height: 12%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 70%; 
    }
    
    /* #play_button {
        font-size: 300%;
        font-size: 80px;
        width: 100%;
        height: auto;
    }
    
    #about_button {
        font-size: 300%;
        font-size: 80px;
        line-height: 90px;
        width: 100%;
        height: auto;
    } */
}
