html, body {
    height: 100%;
    margin: 0;
    background-color: #FFD465;
}

/* Landing Page */

#container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#wrapper {
     /* min-height: 100%;   */
    background-color: white;
}

#box_outside{
    grid-column: span 4;
    grid-row: span 5;
    width: auto;
    height: 100%;
    padding-top:7%;
    padding-bottom:7%;
    background-color: #FFD465;
}

#box_top {
    background-color: #FFD465;
    width: 100%;
    height: 35%;
    margin: 0 auto;
}

#login_button {
    float: right;
    font-size: 300%;
    text-align: center;
    color: white;
    font-family: 'Pompiere', cursive;
    line-height: 90px;
    width: 200px;
    height: 100px;
    border-radius: 8%;
    background-color: #FF9999;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.37);
}

#banner {
    background-color: #FFD465;
    width: 100%;
    height: 60%;
    /* padding-top: 10%; */
}

#banner_top {
    background-color: #65EAA2;
    width: 100%;
    height: 100px;
}

#banner_middle {
    background-color: #FF9999;
    width: 100%;
    height: 100px;
}

#banner_bottom {
    background-color: #65EAA2;
    width: 100%;
    height: 100px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.37);
}

#logo_box{
    display: block;
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#logo_name{
    display: block;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(5px 5px 15px rgba(0,0,0,0.37));
}

#box_bottom {
    display: grid;
    width: 100%;
    height: 30%;
    padding: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

#box_mid{
    width: 100%;
    height: 80%;
    padding-top:7%;
    /* margin-bottom:7%; */
    background-color: #FFEB6C;
}


#play_button {
    grid-column: 3;
    grid-row: 1;
    font-size: 300%;
    text-align: center;
    color: white;
    font-family: 'Pompiere', cursive;
    line-height: 90px;
    width: 200px;
    height: 100px;
    border-radius: 8%;
    margin-top:1em;
    background-color: #FF9999;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.37);
}

#about_button {
    grid-column: 3;
    grid-row: 2;
    font-size: 300%;
    text-align: center;
    color: white;
    font-family: 'Pompiere', cursive;
    line-height: 90px;
    width: 200px;
    height: 100px;
    border-radius: 8%;
    margin-top:1em;
    margin-bottom: 1em;
    background-color: #FF9999;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.37);
}

#pet_div{
    margin: 0 auto;
    width: 50%;
}

#pet_space{
    width: 100%;
    height: 100px;
}

/* Animations */
#shiny_boi {
    width: 50%;
    height: auto;
    top:40%;
    position: absolute;
    filter: drop-shadow(10px 10px 15px rgba(0,0,0,0.37));
    /* Standard syntax */
    animation-name: move;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-delay: 600s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move {
    0%   {left:25%; top: 40%;}
    10%  {left:50%; top: 88%;}
    20%  {left:-5%; top: 30%;}
    30%  {left:50%; top:45;}
    40%  {left:-5%; top: 88%;}
    50%  {left:30%; top: -5%;}
    60%  {left:40%; top: 88%;}
    70%  {left:20%; top: 40%;}
    80%  {left:10%; top: -5%;}
    90%  {left:50%; top: 88%;}
    100% {left:0%; top: 0%;}
  }
  