@import url('https://fonts.googleapis.com/css?family=Pompiere&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    background-color: #FFD465;
    min-width: 350px;
}

#box_div {
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.37));
}

#banner_pink {
    background-color: #FF9999;
}

/* Mobile View --------------------------------------------------------------*/
@media only screen and (min-width: 760px) {
    #title_logo {
        position: absolute;
        width: 50%;
        height: auto;
        left:0;
        right:0;
        margin:auto;
        top: .5em;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.37));
    }

    /* Banner */
    #banner_div {
        margin-top: 7em;
    }

    .banner {
        width: 100%;
        height: 125px;
        background-color: #65EAA2;
    }

    /* Mid Box */

    #box_mid{
        height: 40em;
        width: 100%;
        /* background-color: black; */
    }

    #shiny_boi{
        position: absolute;
        width: 90%;
        height: auto;
        margin: auto;
        top: 37em;
        left: 0;
        right:0;
        filter: drop-shadow(10px 10px 15px rgba(0,0,0,0.37));
    }

    #box_bot{
        width: fit-content;
        margin: 0 auto;
    }
    .buttons{
        text-align: center;
        color: white;
        font-size: 150px;
        font-family: 'Pompiere', cursive;
        width: 4em;
        height: auto;
        border-radius: 25px;
        padding:1em,  8em, 1em, 8em;
        background-color: #FF9999;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.37);
    }

    #about_button{
        margin-top: .5em;
    }
}

/* Tablet View --------------------------------------------------------------*/
@media only screen and (min-width: 1020px) {}



/* Desktop View --------------------------------------------------------------*/
@media only screen and (min-width: 1280px) {}