@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url('https://fonts.googleapis.com/css?family=Pompiere');

html,
body {
    height: 100%;
    margin: 0;
}

#pagewrap {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Pompiere', cursive;
    background-color: aquamarine;
    text-align: center;
}

@media screen and (max-width: 376px) {
    #background_colour {
        height: 100%;
        width: 100%;
        margin: 0;
        text-align: center;
        display: grid;
        grid-template-rows: 10% 10% 60% 10% 10%;
    }

    #page_info {
        position: absolute;
        /* top: 6em; */
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .box_green {
        margin: 0;
        /* height: auto;    */
        width: 100%;
        background-color: #65EAA2;
    }

    .box_red {
        margin: 0;
        /* height: auto;    */
        width: 100%;
        background-color: #EBAE9B;
    }

    .box_yellow {
        margin: 0;
        /* height: auto; */
        width: 100%;
        background-color: #FFEB6C;
    }

    #petImg {
        width: 70%;
        height: auto;
    }

    #icopico_title {
        display: none;
    }

    #login_note_div{
        width: 200px;
        height: 60px;
        padding: .5em;
        background-color: #ffffff;
        border-radius: 10px;
        margin: 0 auto;
    }
    #login_note{
        margin:0;
    }
}

@media screen and (min-width: 377px) {
    #petImg {
        -webkit-transform: rotate(-20deg);
        width: 40%;
        height: auto;
        top: 3em;
        left: 1%;
        position: absolute;
        cursor: pointer;

    }

    #login_title {
        /* float: left; */
        clear: right;
        text-align: center;
        font-size: 5em;
        margin: 0;
        padding-top: 1.5em;
        padding-bottom: .5em;
        /* font-family: 'Pompiere', cursive; */
    }

    #firebaseui-auth-container {
        clear: left;
        /* float: left; */
        margin: 0 auto;
    }

    #background_colour {
        height: 100%;
        width: 100%;
        margin: 0;
        text-align: center;
        display: grid;
        grid-template-rows: 10% 10% 60% 10% 10%;
    }

    .box_green {
        margin: 0;
        /* height: auto;    */
        width: 100%;
        background-color: #65EAA2;
    }

    .box_red {
        margin: 0;
        /* height: auto;    */
        width: 100%;
        background-color: #EBAE9B;
    }

    .box_yellow {
        margin: 0;
        /* height: auto; */
        width: 100%;
        background-color: #FFEB6C;
    }

    #page_info {
        position: absolute;
        top: 6em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #icopico_title {
        width: 4em;
        height: auto;
        float: left;
        margin-top: .5em;
        margin-left: 2em;
        cursor: pointer;
    }

    #login_note_div{
        width: 300px;
        height: 45px;
        padding: .5em;
        background-color: #ffffff;
        border-radius: 10px;
        margin: 0 auto;
    }

    #login_note{
        margin:0;
    }
}